@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entity Framework Demo</h1>
    <p class="lead">by Iqan.</p>
    <p><a href="https://github.com/iqans/EntityFramework_demo" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
</div>
